<%= render 'layouts/header' %>


<body class="product_index">
	<div class="container"style="margin-top: 50px;">
		<div class="row">
	      <!-- <div class="col-lg-3 side_ber" style="height: 800px;"></div> -->
	      <div class="col-lg-9 aaa">
	      	<% @products.each do |product| %>
		    <div class="container"style="width: 900px;">
			  <div class="row" style="">

			  	<div class="col-lg-3 box1 item" style="width: 210px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div class="product_image" style="margin:10px;">
		      		<% if product.stock == 0  %>
						<%= image_tag ("soldout.jpg") %>
					<% else %>
						<%= attachment_image_tag product, :jaket_image%>
					<% end %>


                    </div>
			  			<button type="button" class="btn-warning ">
			  				<%= link_to "カートに入れる", test_cart_item_path(product), class: "link" %>
			  			</button>

			  		    <button type="button" class=" btn-danger">
			  		        <%= link_to "お気に入り", ss_favorite_path(product), class: "link" %>

			  			</button>

                    <ul class="list-inline" >
			  	    	<%= link_to (user_product_path(product.id)), class: "linka" do %>
			  		  <li>商品名：<%= product.product_name %></li>
			  		  <% end %>
			  	    </ul>

			  	    <ul class="list-inline">
			  		  <li><div>アーティスト：<%= product.airtist_name %></div></li>
			  		</ul>

			  		<ul class="list-inline">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline">
			  		  <li><div>￥</div></li>
			  		  <li><%= product.price %></li>
			  	    </ul>
			  	</div>
			  </div>
			</div>
			<% end %>
	      </div>
		</div>
	</div>
</body>

<%= render 'layouts/footer' %>

