<%= render 'layouts/header' %>  

<div class="dropdown">
	 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	      ページ変更
	      <span class="caret"></span>
	 </button>
	 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	   <li>"商品詳細"</li>
	   <li><%= link_to "カートページ", cart_items_path(@cart_item) %></li>
	   <li>購入ページ</li>
	   <li>購入履歴</li>
	 </ul>
</div>


<body class="product_index">
	<div class="container"style="margin-top: 50px;">
		<div class="row">
	      <div class="col-lg-3 side_ber" style="height: 800px;">
	      	<%= render 'tops/sidebar', genres: @genres %>  
	      </div>
	      <div class="col-lg-9 aaa">
	      	<% @products.where(delete_flag: false).each do |product| %>
		    <div class="container"style="width: 900px;">
			  <div class="row" style="">
			  	<div class="col-lg-3 box1 item" style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div class="product_image" style="margin:10px;">
		      		<% if product.stock == 0  %>
						<%= image_tag ("soldout.jpg") %>
					<% else %>
						<%= attachment_image_tag product, :jaket_image%>
					<% end %>  
                      
                    </div>
			  			<button type="button" class="btn btn-warning btn-sm">
			  				<%= link_to "カートに入れる", test_cart_item_path(product), class: "link" %>
			  			</button>
			  		    <button type="button" class="btn btn-danger btn-sm">
			  		        <%= link_to "お気に入り", favorites_path, class: "link" %>
			  			</button>


			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div></div></li>
			  		  <li></li>
			  	    </ul>

			  	    <ul class="list-inline" style="margin: 0;">
			  	    	<%= link_to (user_product_path(product.id)), class: "linka" do %>
			  		  <li><div>商品名：</div></li>
			  		  <li><%= product.product_name %></li>
			  		  <% end %>
			  	    </ul>

			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li><%= product.airtist_name %></li>
			  		</ul>

			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li><%= product.price %></li>
			  	    </ul>
			  	</div>
			  </div>
			</div>
			<% end %>
	      </div>
		</div>
	</div>
</body>

<%= render 'layouts/footer' %>

