
<header style="width: 100%; height:80px; background-color: pink">
</header>

<div class="dropdown">
	 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
	      ページ変更
	      <span class="caret"></span>
	 </button>
	 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	   <li><%= link_to "商品一覧", products_path %></li>
	   <li><%= link_to "購入後", new_product_path %></li>
	   <li>"商品詳細"</li>
	   <li>カート</li>
	   <li>購入ページ</li>
	   <li>購入履歴</li>
	 </ul>
</div>


<body class="product_index">
	<div class="container"style="margin-top: 50px;">
		<div class="row">
	      <div class="col-lg-3 side_ber" style="height: 800px;">
	      	<h1></h1>
	      </div>
	      <div class="col-lg-9">
		    <div class="container"style="width: 887px;">
			  <div class="row">
			  	<div class="col-lg-4 box1" style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-2.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  		<button type="button" class="btn btn-warning btn-sm">カートに入れる</button>
			  		<button type="button" class="btn btn-danger btn-sm">お気に入り</button>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<div class="col-lg-4 box1"  style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-8.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  		<button type="button" class="btn btn-warning btn-sm">カートに入れる</button>
			  		<button type="button" class="btn btn-danger btn-sm">お気に入り</button>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<div class="col-lg-4 box1"  style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-3.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  		<button type="button" class="btn btn-warning btn-sm">カートに入れる</button>
			  		<button type="button" class="btn btn-danger btn-sm">お気に入り</button>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<div class="col-lg-4 box1"  style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-4.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  		<button type="button" class="btn btn-warning btn-sm">カートに入れる</button>
			  		<button type="button" class="btn btn-danger btn-sm">お気に入り</button>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<div class="col-lg-4 box1"  style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-5.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  		<button type="button" class="btn btn-warning btn-sm">カートに入れる</button>
			  		<button type="button" class="btn btn-danger btn-sm">お気に入り</button>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<div class="col-lg-4 box1"  style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-6.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  		<button type="button" class="btn btn-warning btn-sm">カートに入れる</button>
			  		<button type="button" class="btn btn-danger btn-sm">お気に入り</button>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<div class="col-lg-4 box1"  style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-7.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  		<button type="button" class="btn btn-warning btn-sm">カートに入れる</button>
			  		<button type="button" class="btn btn-danger btn-sm">お気に入り</button>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<div class="col-lg-4 box1"  style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-1.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  		<button type="button" class="btn btn-warning btn-sm">カートに入れる</button>
			  		<button type="button" class="btn btn-danger btn-sm">お気に入り</button>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<div class="col-lg-4 box1"  style="width: 210px; height: 350px; background-color: #ffffff; border: solid 1px #f5f5f5;">
			  		<div style="margin:10px";>
			  		  <%= image_tag 'sample-9.jpg', :width =>'160px', :height =>'150px' , :padding =>'20px' %>
			  	    </div>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><button type="button" class="btn btn-warning btn-sm">カートに入れる</button></li>
			  		  <li><button type="button" class="btn btn-danger btn-sm">お気に入り</button></li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>ジャンル：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>CD名：</div></li>
			  		  <li>~~</li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>アーティスト：</div></li>
			  		  <li>~~</li>
			  		</ul>
			  		<ul class="list-inline" style="margin: 0;">
			  		  <li><div>評価</div></li><li><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></li>
			  	    </ul>
			  	    <ul class="list-inline" style="margin: 0;">
			  		  <li><div>￥</div></li>
			  		  <li>5000</li>
			  	    </ul>
			  	</div>
			  	<!-- <div class="col-lg-3 col-sm-6 mb-4" style="width: 250px; height: 200px; background-color: yellow;"></div> -->
			  </div>
			</div>
				<nav class="text-center">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="前のページへ">
								<span aria-hidden="true">«</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="次のページへ">
								<span aria-hidden="true">»</span>
							</a>
						</li>
					</ul>
		        </nav>
	      </div>
		</div>
	</div>
</body>

