<body>
    <div class="container">
      <div class="row">
        <div class="col-xs-3">
                <div class="mypage_sidebar">
                    <div class="sidelink1">MENU</div>
                        <%= link_to "HOME",root_path, class: "sidelink"%>
                        <%= link_to "お気に入り",favorites_path(current_user), class: "sidelink"%>
                        <%= link_to "購入履歴",purchases_path(current_user), class: "sidelink"%>
                        <%= link_to "所持チケット",events_path(current_user), class: "sidelink"%>
                        <%= link_to '退会手続き',current_user, method: :delete, data: {confirm: '本当に退会しますか?'},class: "sidelink" %>
                        <style type="text/css">
                              a.sidelink { display: block; }
                        </style>
                </div>
        </div>

            <div class="col-xs-9">
              <div class="fp">
                <div class="jki">
                  <%= image_tag 'sample-5.jpg', :width =>'150px', :height =>'150px'%>
                </div>

                          <table class="favorite_information">
                            <thead>
                              <tr>
                              <th class="space" style="width:200px;"></th>
                              <th></th>
                              <th></th>
                              </tr>
                            </thead>

                            <tbody>
                              <tr>
                                <th>CD名</th>
                                <td class="favorite_td" , style="text-align: left;">ベストアルバム</td>
                              </tr>

                              <tr>
                                <th>アーティスト名</th>
                                <td class="favorite_td" , style="text-align: left;">乃木坂46</td>
                              </tr>

                              <tr>
                                <th>特典</th>
                                <td class="favorite_td" , style="text-align: left;">あり</td>
                              </tr>

                              <tr>
                                <th>評価</th>
                                <td class="favorite_td" , style="text-align: left;">♡♡♡♡♡</td>
                              </tr>

                              <tr>
                                <th>数量</th>
                                <td class="favorite_td" , style="text-align: left;">1000000</td>
                              </tr>
                            </tbody>
                          </table>

              </div>


                <%= paginate(@users) %>
            </div>
        </div>
    </div>
</body>

