
<body>
	<div class="page-header" style="background-color: orange;">
		<h1>サンプル　　<small>サブ・テキスト</small></h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="background-color: orange;">
				<h2>サイドバー</h2>
			</div>
			<div class="col-lg-9">
				<h1 class="page_title">ディスク・曲順・曲名登録</h1>
				<%= form_for(@disk) do |f| %>

					<div class="form-group">
						<%= f.label :disk_name, "ディスク名:", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= f.text_field :disk_name, :placeholder => "ディスク名"%>
						</div>
					</div>

    				<%= f.fields_for :song_orders do |orders_f| %>
						<div class="form-group">
							<%= f.label :song_order_number, "曲順：", class:"col-lg-3 control-label" %>
							<div class="col-lg-9">
								<%= orders_f.text_field :song_order_number, :placeholder => "曲順"%>
							</div>
						</div>

						<div class="form-group">
							<%= f.label :song_id, "曲名：", class:"col-lg-3 control-label"  %>
							<div class="col-lg-9">
								<%= orders_f.collection_select :song_id, @songs, :id, :song_name, {}, {class: 'js-searchable'} %>
	 						</div>
						</div>
					<% end %>
					<%= f.fields_for :song_orders do |orders_f| %>
						<div class="form-group">
							<%= f.label :song_order_number, "曲順：", class:"col-lg-3 control-label" %>
							<div class="col-lg-9">
								<%= orders_f.text_field :song_order_number, :placeholder => "曲順"%>
							</div>
						</div>

						<div class="form-group">
							<%= f.label :song_id, "曲名：", class:"col-lg-3 control-label"  %>
							<div class="col-lg-9">
								<%= orders_f.collection_select :song_id, @songs, :id, :song_name, {}, {class: 'js-searchable'} %>
	 						</div>
						</div>
					<% end %>

					<div class="form-group">
						<div class=" col-lg-9">
							<%= f.submit "登録", class:"btn btn-primary btn-block" %>
						</div>
					</div>
				<% end %>
				<br>
				<div class="create">
					<%= form_for(@song) do |f| %>
						<div class="form-group">
							<%= f.text_field :song_name,:placeholder => "曲名"%>
						</div>
						<%= f.submit "作成",class:"btn btn-default btn-lg" %>

					<% end %>
				</div>
			</div>
		</div>
	</div>
</body>





