
<div class="main__visual">
	<div class="main__visual__content">
		<div class="visual-img1"></div>
        <div class="visual-img2"></div>
        <div class="visual-img3"></div>
        <div class="visual-img4"></div>
        <div class="visual-img5"></div>
	</div>
</div>
<div class="main clearfix">
	<div class="sidebar">
		<div class="genre">
			<div class="genre__title__box">
				<span ><%= image_tag "music.png" ,alt:"" ,class:"genre__title__img" %></span>
				<span class="genre__title">ジャンル</span>
			</div>
			<div class="genre__box">
				<span class="genre__name__img"><%= image_tag "disc.png" ,alt:"" ,class: "" %></span>
				<span class="genre__name">AKBグループ</span>
				<span class="genre__arrow"><%= image_tag "genre-arrow.png", alt:"" ,class: "" %></span>
			</div>
			<div class="genre__box">
				<span class="genre__name__img"><%= image_tag "disc.png" ,alt:"" ,class: "" %></span>
				<span class="genre__name">AKBグループ</span>
				<span class="genre__arrow"><%= image_tag "genre-arrow.png", alt:"" ,class: "" %></span>
			</div>
			<div class="genre__box">
				<span class="genre__name__img"><%= image_tag "disc.png" ,alt:"" ,class: "" %></span>
				<span class="genre__name">AKBグループ</span>
				<span class="genre__arrow"><%= image_tag "genre-arrow.png", alt:"" ,class: "" %></span>
			</div>
			<div class="genre__box">
				<span class="genre__name__img"><%= image_tag "disc.png" ,alt:"" ,class: "" %></span>
				<span class="genre__name">AKBグループ</span>
				<span class="genre__arrow"><%= image_tag "genre-arrow.png", alt:"" ,class: "" %></span>
			</div>
			<div class="genre__box">
				<span class="genre__name__img"><%= image_tag "disc.png" ,alt:"" ,class: "" %></span>
				<span class="genre__name">AKBグループ</span>
				<span class="genre__arrow"><%= image_tag "genre-arrow.png", alt:"" ,class: "" %></span>
			</div>
		</div>
		<div class="banner">
			<%= image_tag "banner.png" ,alt:"" ,class: "banner__img" %>
			<%= image_tag "banner.png" ,alt:"" ,class: "banner__img" %>
			<%= image_tag "banner.png" ,alt:"" ,class: "banner__img" %>
			<%= image_tag "banner.png" ,alt:"" ,class: "banner__img" %>
		</div>
	</div>
	<div class="content">
		<div class="ranking__img">
				<%= image_tag "main1.png" ,alt:"" %>
		</div>
		<div class="ranking">
			<div class="user__gold">
				<%= image_tag "gold.png" ,alt: "" ,class: "crown" %>
				<%= image_tag "icon.png" ,alt: "" ,class: "profile" %>
				<p class="user__name">ユーザー名</p>
			</div>
			<div class="user__silver">
				<%= image_tag "silver.png" ,alt: "", class: "crown" %>
				<%= image_tag "icon.png" ,alt: "" ,class: "profile" %>
				<p class="user__name">ユーザー名</p>
			</div>
			<div class="user__bronze">
				<%= image_tag "bronze.png" ,alt: "", class: "crown" %>
				<%= image_tag "icon.png" ,alt: "" ,class: "profile" %>
				<p class="user__name">ユーザー名</p>
			</div>

		</div>
		<!-- イベント付きチケット -->
		<div class="ticket__img">
			<%= image_tag "main2.png" ,alt: "" %>
		</div>
		<div class="tickets">
			<%= image_tag "left.png" ,alt:"" , class: "left__arrow" %>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation" id="default">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<%= image_tag "right.png", alt:"" ,class: "right__arrow" %>
		</div>
		<!-- 新着 -->
		<div class="new__arrivals__img">
			<%= image_tag "main3.png" ,alt:"" %>
		</div>
		<div class="new__arrivals">
			<%= image_tag "left.png" ,alt:"" , class: "left__arrow" %>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<%= image_tag "right.png", alt:"" ,class: "right__arrow" %>
		</div>
		<!-- 売れ筋 -->
		<div class="selling__img">
			<%= image_tag "main4.png", alt:"" %>
		</div>
		<div class="sellings">
				<%= image_tag "left.png" ,alt:"" , class: "left__arrow" %>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<div class="item__box">
				<%= image_tag "jacketimg.png", alt:"" ,class: "jacket" %>
				<h3 class="product__name">タイトル</h3>
				<p class="artist__name">アーティスト名</p>
				<p class="price">¥ 0,000</p>
				<p class="stocks">在庫:100</p>
				<div class="evaluation">
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love1.png" , alt:"" , class: "love1" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<%= image_tag "love2.png" , alt:"" , class: "love2" %>
					<span class="evaluation__count">49</span>
				</div>
				<div class="favorite__button__box">
					<span class="favorite__button">お気に入りへ追加</span>
				</div>
				<div class="cart__button__box">
					<span class="cart__button modal-open">カートへ入れる</span>
				</div>
			</div>
			<%= image_tag "right.png", alt:"" ,class: "right__arrow" %>
		</div>
	</div>
</div>
<div  class="modal-overlay">
    <div class="modal-panel">
    	<p class="modal-title">個数を入力してください</p>
	   <!--  -->
	     <p class="modal-close">閉じる</p>
    </div>
</div>

		<!-- フッター -->
		

<script>
	$(".main__visual__content").skippr({
    //スライドショーの変化 ("fade" or "slide")
    transition : 'slide',
    //変化に係る時間(ミリ秒)
    speed : 3000,
    // easingの種類
    easing : 'easeOutQuart',
    // ナビゲーションの形("block" or "bubble")
    navType : 'block',
    // 子要素の種類("div" or "img")
    childrenElementType : 'div',
    // ナビゲーション矢印の表示(trueで表示)
    arrows : false,
    // スライドショーの自動再生(falseで自動再生なし)
    autoPlay : true,
    // 自動再生時のスライド切替間隔(ミリ秒)
    autoPlayDuration : 5000,
    // キーボードの矢印キーによるスライド送りの設定(trueで有効)
    keyboardOnAlways : false,
    // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
    hidePrevious : true
});
</script>