<%= render 'layouts/header' %>

<div class="main__visual">
	<div class="main__visual__content">
		<div class="visual-img1"></div>
        <div class="visual-img2"></div>
        <div class="visual-img3"></div>
        <div class="visual-img4"></div>
        <div class="visual-img5"></div>
	</div>
</div>



<%= render 'tops/sidebar', genres: @genres %>  

	<div class="content">
		<div class="ranking__img">
				<%= image_tag "main1.png" ,alt:"" %>
		</div>
		<div class="ranking">
			<div class="user__gold">
				<%= image_tag "gold.png" ,alt: "" ,class: "crown" %>
				<%= image_tag "icon.png" ,alt: "" ,class: "profile trim-image-to-circle" %>
				<p class="user__name">ユーザー名</p>
			</div>
			<div class="user__silver">
				<%= image_tag "silver.png" ,alt: "", class: "crown" %>
				<%= image_tag "icon.png" ,alt: "" ,class: "profile trim-image-to-circle" %>
				<p class="user__name">ユーザー名</p>
			</div>
			<div class="user__bronze">
				<%= image_tag "bronze.png" ,alt: "", class: "crown" %>
				<%= image_tag "icon.png" ,alt: "" ,class: "profile trim-image-to-circle" %>
				<p class="user__name">ユーザー名</p>
			</div>

		</div>
		<!-- イベント付きチケット -->
		<div class="ticket__img">
			<%= image_tag "main2.png" ,alt: "" %>
		</div>
		<div class="tickets" id="my-slide">
			<% @products.each do |product| %>
				<div class="item__box" >
					<% if product.stock == 0  %>
						<%= image_tag ("soldout.jpg"),:size => "140x120" %>
					<% else %>
						<%= attachment_image_tag  product, :jaket_image , :fill, 140, 120, format: 'jpeg' %>
					<% end %>
					<%= link_to user_product_path(product.id) do %>
						<h3 class="product__name"><%= product.product_name %></h3>
					<% end %>
					<p class="artist__name"><%= product.airtist_name %></p>
					<p class="price">¥ <%= product.price %></p>
					<p class="stocks">在庫:<%= product.stock %></p><div class="evaluation">
						<%= image_tag "love1.png" , alt:"" , class: "love1" %>
						<%= image_tag "love1.png" , alt:"" , class: "love1" %>
						<%= image_tag "love1.png" , alt:"" , class: "love1" %>
						<%= image_tag "love2.png" , alt:"" , class: "love2" %>
						<%= image_tag "love2.png" , alt:"" , class: "love2" %>
						<span class="evaluation__count">49</span>
					</div>
					<% if user_signed_in? %>
						<%= link_to favorites_path do %>
							<div class="favorite__button__box">
								<span class="favorite__button">お気に入りへ追加</span>
							</div>
						<% end %>
						<%= link_to test_cart_item_path(product.id) do %>
							<div class="cart__button__box">
								<span class="cart__button modal-open">カートへ入れる</span>
							</div>
						<% end %>
					<% else %>
					    <%= link_to new_user_registration_path do %>
							<div class="favorite__button__box">
								<span class="favorite__button">お気に入りへ追加</span>
							</div>
						<% end %>
						<%= link_to new_user_registration_path do %>
							<div class="cart__button__box">
								<span class="cart__button modal-open">カートへ入れる</span>
							</div>
						<% end %>
					<% end %>		
				</div>
			<% end %>	
		</div>

		<!-- 売れ筋 -->
		<div class="selling__img">
			<%= image_tag "main4.png", alt:"" %>
		</div>
		<div class="sellings">
			<% @products.each do |product| %>
				<div class="item__box" id="my-slide">
					<%= attachment_image_tag  product, :jaket_image , :fill, 140, 120, format: 'jpeg' %>
					<h3 class="product__name"><%= product.product_name %></h3>
					<p class="artist__name"><%= product.airtist_name %></p>
					<p class="price">¥ <%= product.price %></p>
					<p class="stocks">在庫:<%= product.stock %></p>
					<div class="evaluation star"  id="default">
						<%= image_tag "love1.png" , alt:"" , class: "love1" %>
						<%= image_tag "love1.png" , alt:"" , class: "love1" %>
						<%= image_tag "love1.png" , alt:"" , class: "love1" %>
						<%= image_tag "love2.png" , alt:"" , class: "love2" %>
						<%= image_tag "love2.png" , alt:"" , class: "love2" %>
						<span class="evaluation__count">49</span>
					</div>
					<% if user_signed_in? %>
						<%= link_to favorites_path do %>
							<div class="favorite__button__box">
								<span class="favorite__button">お気に入りへ追加</span>
							</div>
						<% end %>
						<%= link_to test_cart_item_path(product.id) do %>
							<div class="cart__button__box">
								<span class="cart__button modal-open">カートへ入れる</span>
							</div>
						<% end %>
					<% else %>
					    <%= link_to new_user_registration_path do %>
							<div class="favorite__button__box">
								<span class="favorite__button">お気に入りへ追加</span>
							</div>
						<% end %>
						<%= link_to new_user_registration_path do %>
							<div class="cart__button__box">
								<span class="cart__button modal-open">カートへ入れる</span>
							</div>
						<% end %>
					<% end %>		
				</div>
			<% end %>	
		</div>
	</div>
</div>


<%= render 'layouts/footer' %>  

		<!-- フッター -->

<script>
	$(".main__visual__content").skippr({
    //スライドショーの変化 ("fade" or "slide")
    transition : 'slide',
    //変化に係る時間(ミリ秒)
    speed : 3000,
    // easingの種類
    easing : 'easeOutQuart',
    // ナビゲーションの形("block" or "bubble")
    navType : 'block',
    // 子要素の種類("div" or "img")
    childrenElementType : 'div',
    // ナビゲーション矢印の表示(trueで表示)
    arrows : false,
    // スライドショーの自動再生(falseで自動再生なし)
    autoPlay : true,
    // 自動再生時のスライド切替間隔(ミリ秒)
    autoPlayDuration : 5000,
    // キーボードの矢印キーによるスライド送りの設定(trueで有効)
    keyboardOnAlways : false,
    // 一枚目のスライド表示時に戻る矢印を表示するかどうか(falseで非表示)
    hidePrevious : true
});
</script>
<script>
	$(document).ready(function(){
	$('#my-slide').slick({
		  // アクセシビリティ。左右ボタンで画像の切り替えをできるかどうか
		  accessibility: true,
		  // 自動再生。trueで自動再生される。
		  autoplay: false,
		  // 自動再生で切り替えをする時間
		  autoplaySpeed: 3000,
		  // 自動再生や左右の矢印でスライドするスピード
		  speed: 400,
		  // 自動再生時にスライドのエリアにマウスオンで一時停止するかどうか
		  pauseOnHover: true,
		  // 自動再生時にドットにマウスオンで一時停止するかどうか
		  pauseOnDotsHover: true,
		  // 切り替えのアニメーション。ease,linear,ease-in,ease-out,ease-in-out
		  cssEase: 'ease',
		  // 画像下のドット（ページ送り）を表示
		  dots: false,
		  // ドットのclass名をつける
		  dotsClass: 'dot-class',
		  // ドラッグができるかどうか
		  draggable: true,
		  // 切り替え時のフェードイン設定。trueでon
		  fade: false,
		  // 左右の次へ、前へボタンを表示するかどうか
		  arrows: true,
		  // 無限スクロールにするかどうか。最後の画像の次は最初の画像が表示される。
		  infinite: true,
		  // 最初のスライダーの位置
		  initialSlide: 0,
		  // 画像の遅延表示。‘ondemand’or'progressive'
		
		  // スライドのエリアにマウスオーバーしている間、自動再生を止めるかどうか。
		  pauseOnHover: true,
		  // スライドのエリアに画像がいくつ表示されるかを指定
		  slidesToShow: 4,
		  // 一度にスライドする数
		  slidesToScroll: 1,
		  // タッチスワイプに対応するかどうか
		  swipe: true,
		  // 縦方向へのスライド
		  vertical: false,
		  // 表示中の画像を中央へ
		　centerMode: true,
		  // 中央のpadding
		  centerPadding: '0px'
		});

	});
</script>
