
<%= render 'layouts/header' %>

<body>
   <div class="container">
   	　<div class="row">
   		<div class="col-lg-3" style="height: 800px;">
   			<div></div>
   		</div>
   		<div class="col-lg-9">
   	      <div class="container">
   	      	<% @purchases.each do |purchase| %>
		    <div class="row">
		      <div class="col-lg-2 purchase_image" style="margin: 20px 10px 20px 0px;">
                  <%= attachment_image_tag purchase, :jaket_image %>
		      </div>
			  <div class="col-lg-3">

		          <ul class="list-inline" style="margin: 15px 5px;">
				       <li><strong class="">購入者</strong></li>
				       <li class=""><%= current_user.user_name %></li>
		          </ul>

		          <ul class="list-inline" style="margin:  10px 5px;">
			           <li><strong class="">購入日</strong></li>
			           <li class=""><%= purchase.created_at.strftime('%Y/%m/%d') %></li>
		          </ul>

		          <ul class="list-inline" style="margin: 10px 5px;">
		              <li><strong class="">商品名</strong></li>
		              <li class="text-danger"><%= purchase.product_name %></li>
		          </ul>

		          <ul class="list-inline" style="margin: 15px 5px;">
	          	      <li><strong class="">届け先</strong></li>
	          	      <li class=""><strong class=""><%= purchase.shipping_address.shipping_address_name %></strong></li>
			      </ul>

			       <ul class="list-inline" style="margin: 15px 5px;">
	          	      <li class=""><strong class="">数量</strong></li>
	          	      <li class=""><%= purchase.number_of_sheets %></li>
			      </ul>
			  </div>

			  <div class="col-sm-2" >
			       <ul class="list-inline">
			     	   <li style="margin-top: 110px;"><strong>￥</strong></li>
			     	   <li><%= purchase.old_price %></li>
			       </ul>
			       <!--  <ul class="list-inline">
			     	   <li style="margin-top: 15px;"><strong>カートナンバー</strong></li>
			     	   <li><%=@cart.id %></li>
			       </ul> -->
		      </div>
		    </div>
		    <% end %>

		    <nav style="margin-left: 180px;">
					<ul class="pagination">
						<li>
							<a href="#" aria-label="前のページへ">
								<span aria-hidden="true">«</span>
							</a>
						</li>
						<li><a href="#">1</a></li>
						<li class="active"><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="次のページへ">
								<span aria-hidden="true">»</span>
							</a>
						</li>
					</ul>
		        </nav>

	      </div>
	    </div>
      </div>
   </div>
</body>

<%= render 'layouts/footer' %>
