<body>
	<p class="love">
	<div class="header-love">ヘッダー</div>
<div class="back">
<div class="container">
	<div class="row">
		<div class="col-xs-3">
<div class="sidebar">サイドバー</div>
</div>

<div class="col-xs-9">

	<div class="ticket">
		<div class="QR">
		<%= image_tag 'QRQR.jpg' , :size =>'150x150'%>
    </div>
    <div class="ribbonn">
  <h5>Event Information</h5>
</div>
    <div class="ivent">
    	<ul>
    		<li>アーティスト名 ____________________</li>
    		<li>イベント名 ________________________</li>
    		<li>日程 ______________________________</li>
    		<li>会場 ______________________________</li>
    	</ul>
    </div>
    </div>

	<div class="ticket">
		<div class="QR">
		<%= image_tag 'QRQR.jpg' , :size =>'150x150'%>
    </div>
    <div class="ribbonn">
  <h5>Event Information</h5>
</div>
    <div class="ivent">
    </div>
    </div>

    <div class="ticket">
		<div class="QR">
		<%= image_tag 'QRQR.jpg' , :size =>'150x150'%>
    </div>
    <div class="ribbonn">
  <h5>Event Information</h5>
</div>
    <div class="ivent">
    </div>
    </div>

    <div class="ticket">
		<div class="QR">
		<%= image_tag 'QRQR.jpg' , :size =>'150x150'%>
    </div>
    <div class="ribbonn">
  <h5>Event Information</h5>
</div>
    <div class="ivent">
    </div>
    </div>

    <div class="ticket">
		<div class="QR">
		<%= image_tag 'QRQR.jpg' , :size =>'150x150'%>
    </div>
    <div class="ribbonn">
  <h5>Event Information</h5>
</div>
    <div class="ivent">
    </div>
    </div>
<div class="col-xs-3">
</div>
<div class="col-xs-6">
<a href="#" class="square_btn">1</a>
<a href="#" class="square_btn">2</a>
<a href="#" class="square_btn">3</a>
<a href="#" class="square_btn">4</a>
<a href="#" class="square_btn">5</a>

</div>
</div>
	</div>
</div>
</div>
</p>
</body>

