<!-- http://localhost:3000/admin_users -->

<body>
	<div class="page-header" style="background-color: orange;">
		<h1>サンプル　　<small>サブ・テキスト</small></h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="background-color: orange;">
				<h2>サイドバー</h2>
			</div>
			<div class="col-lg-9">
				<h1 class="page_title">User一覧</h1>
			        <div class="search">
			          <form action="<%= admin_users_path %>" method="get" class="form-inline">
			            <input type="text" id="search__bar" name="s_title" required size="10" placeholder=" User名で検索" value="<%= request[:s_name] %>">
			              <button  class="search__box" type="submit">
			                  <span class="search__box__txt" ><%= image_tag "search.png", alt:"" %> 検索</span>
			              </button>
			          </form>
			        </div>
					<div class="form-group sort">
						<label class="sr-only" for="InputSelect">並び替え</label>
						<select class="form-control" style="width: 70px;" id="InputSelect">
							<option>降順</option>
							<option>昇順</option>
						</select>
					</div>
				<table  class="table table-striped">
					<thead>
						<tr>
							<th>会員ID</th>
							<th>名前</th>
						</tr>
					</thead>
					<tbody>
					<% @users.each do |user| %>
						<tr>
							<td>
								<%= user.id %>
							</td>
							<td>
								<%= link_to user.user_name, admin_user_path(user.id) %>
							</td>
						</tr>
					<% end %>
					</tbody>
				</table>
				<nav>
				<%= paginate @users, class:"pagenate" %>
				</nav>
			</div>
		</div>
	</div>
</body>

