
<body>
	<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
	<div class="page-header" style="background-color: orange;">
		<h1>サンプル　　<small>サブ・テキスト</small></h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="background-color: orange;">
				<h2>サイドバー</h2>
			</div>
			<div class="col-lg-9">
				<h1 class="page_title">User詳細</h1>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>項目</th>
							<th>個人情報</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>名前：</th>
							<td><%= @user.user_name %></td>
						</tr>
						<tr>
							<th>フリガナ：</th>
							<td><%= @user.user_name_phonetic %></td>
						</tr>
						<tr>
							<th>郵便番号：</th>
							<td><%= @user.postal_code %></td>
						</tr>
						<tr>
							<th>住所：</th>
							<td><%= @user.address %></td>
						</tr>
						<tr>
							<th>電話番号：</th>
							<td><%= @user.phone_number %></td>
						</tr>
						<tr>
							<th>メールアドレス：</th>
							<td><%= @user.email %></td>
						</tr>
					</tbody>
				</table>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-primary btn-block"><%= link_to "このUserを退会させる", admin_user_path(@user.id), method: :delete, "data-confirm" => "Are you sure?" %></button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>



