<%= render 'layouts/admin' %>

	<div class="col-lg-9">
		<h1 class="admin_user_title">会員詳細</h1>


			<%= form_for(@user, url: {controller: "admin_users", action: "update"}) do |f| %>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>項目</th>
					<th>個人情報</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>名前：</th>
					<td><%= f.text_field :user_name %></td>
				</tr>
				<tr>
					<th>フリガナ：</th>
					<td><%= f.text_field :user_name_phonetic %></td>
				</tr>
				<tr>
					<th>郵便番号：</th>
					<td> <%= f.text_field :postal_code %></td>
				</tr>
				<tr>
					<th>住所：</th>
					<td><%= f.text_field :address %></td>
				</tr>
				<tr>
					<th>電話番号：</th>
					<td><%= f.text_field :phone_number %></td>
				</tr>
				<tr>
					<th>メールアドレス：</th>
					<td><%= f.email_field :email %></td>
				</tr>
				<tr>
					<th>プロフィール画像：</th>
					<td><%=  f.attachment_field :profile_image %></td>
				</tr>
				<tr>
					<th>推しメン画像：</th>
					<td><%=  f.attachment_field :favorite_people_image %></td>
				</tr>
				<tr>
					<th>推しメン(名前.コメント)：</th>
					<td><%= f.text_area :favorite_people %></td>
				</tr>
			</tbody>
		</table>

		  <div class="form-group">
		     <div class="col-sm-offset-3 col-sm-9">
		      <%= f.submit "編集", class: "btn btn-default btn-sm"%>
		      <% end %>
		      <button type="submit" class="btn btn-default btn-sm"><%= link_to "このUserを退会させる", admin_user_path(@user.id), method: :delete, "data-confirm" => "Are you sure?" %></button>
		     </div>
		  </div>
	</div>




