
<body>
	<div class="page-header" style="background-color: orange;">
		<h1>サンプル　　<small>サブ・テキスト</small></h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="background-color: orange;">
				<h2>サイドバー</h2>
			</div>
			<div class="col-lg-9">
				<h1 class="page_title">商品登録</h1>
				<%= form_for(@product) do |f| %>

					<div class="form-group">
						<%= f.label :product_name, "商品名:", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= f.text_field :product_name, :placeholder => "商品名"%>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :artist_name, "アーティスト名：", class:"col-lg-3 control-label"  %>
						<div class="col-lg-9">
							<%= f.text_field :airtist_name, placeholder: "アーティスト名"%>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :genre_id, "ジャンル：", class:"col-lg-3 control-label"  %>
						<div class="col-lg-9">
							<%= f.collection_select :genre_id, @genres, :id, :genre_name, :prompt => "選択してください" %>
 						</div>
					</div>

					<div class="form-group">
						<%= f.label :label_name, "レーベル名：", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= f.text_field :label_name, :placeholder => "レーベル名"%>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :jaket_image_id, "商品画像：", class:"col-lg-3 control-label"  %>
				        <div class="col-lg-9">
				        	 <%= f.attachment_field :jaket_image %>
				    	</div>
				    </div>

					<div class="form-group">
						<%= f.label :price, "料金：", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= f.text_field :price, :placeholder => "料金"%>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :stock, "在庫数：", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= f.text_field :stock, :placeholder => "在庫数"%>
						</div>
					</div>


    				<%= f.fields_for :events do |events_f| %>
					<div class="form-group">
						<%= f.label :event_name, "イベント名：", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= events_f.text_field :event_name, :placeholder => "イベント名"%>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :date_and_time, "イベント日時：", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= events_f.text_field :date_and_time, :placeholder => "イベント日時"%>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :venue, "イベント会場：", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= events_f.text_field :venue, :placeholder => "イベント会場"%>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :event_information, "イベント詳細：", class:"col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= events_f.text_area :event_information, class:"col-lg-9", style:"height: 100px;"%>
						</div>
					</div>
					<% end %>

					<div class="form-group">
						<div class=" col-lg-9">
							<%= f.submit "ディスク、曲順、曲名を登録", class:"btn btn-primary btn-block" %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</body>



