
<body>
	<div class="page-header" style="background-color: orange;">
		<h1>サンプル　　<small>サブ・テキスト</small></h1>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-3" style="background-color: orange;">
				<h2>サイドバー</h2>
			</div>
			<div class="col-lg-9">
				<h1 class="page_title">商品登録</h1>
				<%= form_for(@product) do |f| %>
				<form action="" method="post" class="form-horizontal">

					<div class="form-group">
						<label for="input_product_name" class="col-lg-2 control-label">商品名：</label>
						<div class="col-lg-10">
							<%= f.text_field :product_name, :placeholder => "商品名"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_artist_name" class="col-lg-2 control-label">アーティスト名：</label>
						<div class="col-lg-10">
							<%= f.text_field :airtist_name, :placeholder => "アーティスト名"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_genre" class="col-lg-2 control-label">ジャンル：</label>
						<div class="col-lg-10">
							<%= f.text_field :genre, :placeholder => "ジャンル"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_label" class="col-lg-2 control-label">レーベル名：</label>
						<div class="col-lg-10">
							<%= f.text_field :label_name, :placeholder => "レーベル名"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_file" class="col-lg-2 control-label">商品画像：</label>
				        <div class="col-lg-10">
				        <input type="file" id="file_select" class="form-control" style="display:none;">

				        <div class="input-group">
				          <span class="input-group-btn">
				            <button type="button" id="file_select_icon" class="btn btn-sm"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
				          </span>
				          <input type="text" id="file_name" class="form-control" placeholder="Select file ..." readonly>
				        </div>
				      </div>
				    </div>

				    <div class="form-group form-group-sm">
				      <div class="col-lg-offset-2 col-lg-10">
				        <button type="button" class="btn btn-sm btn-info"    id="btn_filename">ファイル選択の値を取得</button>
				        <button type="button" class="btn btn-sm btn-warning" id="btn_clear_file">ファイル選択の値をクリア</button>
				      </div>
				    </div>

					<div class="form-group">
						<label for="input_product_info" class="col-lg-2 control-label">商品詳細：</label>
						<div class="col-lg-10">
							<%= f.text_area :product_info%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_price" class="col-lg-2 control-label">料金：</label>
						<div class="col-lg-10">
							<%= f.text_field :price, :placeholder => "料金"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_stock" class="col-lg-2 control-label">在庫数：</label>
						<div class="col-lg-10">
							<%= f.text_field :stock, :placeholder => "在庫数"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_event_title" class="col-lg-2 control-label">イベント名：</label>
						<div class="col-lg-10">
							<%= f.text_field :event_title, :placeholder => "イベント名"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_event_date" class="col-lg-2 control-label">イベント日時：</label>
						<div class="col-lg-10">
							<%= f.text_field :event_date, :placeholder => "イベント日時"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_event_place" class="col-lg-2 control-label">イベント会場：</label>
						<div class="col-lg-10">
							<%= f.text_field :event_place, :placeholder => "イベント会場"%>
						</div>
					</div>

					<div class="form-group">
						<label for="input_event_info" class="col-lg-2 control-label">イベント詳細：</label>
						<div class="col-lg-10">
							<%= f.text_area :event_info%>
						</div>
					</div>
					<% end %>

					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="submit" class="btn btn-primary btn-block">ディスク、曲順、曲名を登録</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>



