<div class="admins_header">
    <%= link_to "User Page", root_path, class: "nav-list-itemm" %>
    <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-list-item2" %>
  </div>

        <div class="col-xs-3">
           <%= link_to "商品登録",new_product_path, class: "widelink"%>
           <%= link_to "商品ジャンル登録",genres_path,  class: "widelink"%>
           <%= link_to "曲登録",songs_path, class: "widelink"%>
           <%= link_to "商品一覧",products_path,  class: "widelink"%>
           <%= link_to "購入履歴一覧",admin_purchases_path,  class: "widelink"%>
           <%= link_to "会員一覧",admin_users_path,  class: "widelink"%>
        </div>
        <style type="text/css">
          a.widelink { display: block; }
        </style>