<footer class="footer">
    <div class="footer__logo"><%= image_tag "logo.png" ,alt:"", class: "footer__logo__idol" %></div>
    <div class="footer__nav">
      <nav>
        <ul>
          <li class="footer__li"><a href="" title=""></a>会社概要</li>
          <li class="footer__li"><a href="" title=""></a>お問い合わせ</li>
        </ul>
      </nav>
    </div>
    <div class="footer__icon">
      <%= link_to "https://twitter.com/nogizaka46"  do %>
        <%= image_tag "twitter.png" , alt:"" %>
      <% end %>
      <%= link_to "https://twitter.com/gorgeous55555" do %>
        <%= image_tag "facebook.png" ,alt:"", class: "footer__icon__facebook" %>
        <% end %>
    </div>
    <p class="footer__copyright">Copyright ©︎ 2018 love-money.inc All rights reserved.</p>
</footer>