<!DOCTYPE html>
<html>
  <head>
    <title>Love</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "slick",'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    "slick-theme",'data-turbolinks-track': 'reload' %>
        
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  "//code.jquery.com/jquery-migrate-1.2.1.min.js" ,'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  "slick.min.js"  ,'data-turbolinks-track': 'reload' %>
  


    <script type="text/javascript">
      function disp(){
      // 「OK」時の処理開始 ＋ 確認ダイアログの表示
      if(window.confirm('本当に削除しますか？')){
       location.href = "http://localhost:3000/cart_items/"; // 商品詳細画面へジャンプ
         }
          // 「OK」時の処理終了

          // 「キャンセル」時の処理開始
          else{
         window.alert('削除しました'); // 警告ダイアログを表示

          }
          // 「キャンセル」時の処理終了

        }

        // -->
    </script>

  </head>

  <body>

    <header id="header" class="header">
      <div class="header__menu">
        <%= link_to image_tag('logo.png', { :border => '0', :alt => 'top'}), root_path, class: "header__menu__logo" %>
        <div class="search">
          <form action="<%= user_products_path %>" method="get" class="form-inline">
            <input type="text" id="search__bar" name="s_title" required size="10" placeholder=" 商品名やアーティスト名で検索" value="<%= request[:s_title] %>">
              <button  class="search__box" type="submit">
                  <span class="search__box__txt" ><%= image_tag "search.png", alt:"" %> 検索</span>
              </button>
          </form>
        </div>
        <nav class="header__menu__nav">
          <ul class="nav__ul">
            <% if user_signed_in? %>
              <li class="nav__li">
                <%= link_to  destroy_user_session_path ,class: "nav__logo", method: :delete  do %>
                <%=  image_tag "exit.png", alt: "" , class: "nav__img" %>
                <span class="nav__txt">ログアウト</span>
                <% end %>
              </li>
              <li class="nav__li">
                <%= link_to user_path(current_user.id), class: "nav__logo" do %>
                <%=  image_tag "home.png", alt:  "" ,class: "nav__img" %>
                <span class="nav__txt">マイページ</span>
                <% end %>
              </li>
              <li class="nav__li">
                <%= link_to favorites_path, class: "nav__logo" do %>
                <%= image_tag "favorite.png" ,alt:"" ,class: "nav__img" %>
                <span class="nav__txt">お気に入り</span>
                <% end %>
              </li>
              <li class="nav__li">
                <%= link_to cart_items_path(), class: "nav__logo" do %>
                <%=  image_tag "cart.png", alt: "" ,class: "nav__image" %>
                <span class="nav__txt">カート</span>
                <% end %>
              </li>
            <% else %>
              <li class="nav__li">
                <%= link_to new_user_session_path, class: "nav__logo" do %>
                <%=  image_tag "login.png", alt: "" , class: "nav__img" %>
                <span class="nav__txt">ログイン</span>
                <% end %>
              </li>
              <li class="nav__li">
                <%= link_to new_user_registration_path, class: "nav__logo"  do %>
                <%=  image_tag "signup.png", alt: "" , class: "nav__img" %>
                <span class="nav__txt">新規登録</span>
                <% end %>
              </li>
              <li class="nav__li">
                <%= link_to new_user_registration_path, class: "nav__logo" do %>
                <%=  image_tag "home.png", alt:  "" ,class: "nav__img" %>
                <span class="nav__txt">マイページ</span>
                <% end %>
              </li>
              <li class="nav__li"><a href="" title="">
                <%= link_to new_user_registration_path, class: "nav__logo" do %>
                <%= image_tag "favorite.png" ,alt:"" ,class: "nav__img" %>
                <span class="nav__txt">お気に入り</span>
                <% end %>
              </li>
              <li class="nav__li"><a href="" title="">
                <%= link_to new_user_registration_path, class: "nav__logo"  do %>
                <%=  image_tag "cart.png", alt: "" ,class: "nav__image" %>
                <span class="nav__txt">カート</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>


     
    <%= yield %>
    
  </body>
</html>
