<%= render 'layouts/header' %>
<div class="form-form">
  <h5 class="sign_up_message">新規に会員を登録します。下記フォームに登録内容をご記入の上、画面下部の『登録』を押して下さい。</h5><br><br><br><br><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
     <%= devise_error_messages! %>

  <div class="form-group">
     <%= f.label :user_name, "名前", class: "col-sm-3  control-label" %>
     <div class="col-sm-8">
       <%= f.text_field :user_name, autofocus: true, autocomplete: "user_name", class: "form-control",placeholder: "田中　太郎" %>
     </div>
  </div>

  <div class="form-group">
     <%= f.label :user_name_phonetic, "名前(カナ)", class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
      <%= f.text_field :user_name_phonetic, autofocus: true, autocomplete: "name_phonetic", class: "form-control",placeholder: "タナカ　タロウ" %>
     </div>
  </div>

  <div class="form-group">
     <%= f.label :poatal_code, "郵便番号", class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control",placeholder:"0000000 (ハイフン無し)",id: "address_zipcode" %>
     </div>
   </div>

  <div class="form-group">
     <%= f.label :address, "住所", class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
      <%= f.text_field :address, autofocus: true,autocomplete: "address", class: "form-control",placeholder: "(例)東京都○○区○○1-1-1 マンション名",id: "user_address" %>
     </div>
  </div>

  <div class="form-group">
     <%= f.label :phone_number, "電話番号", class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control",placeholder: "09000000000 (ハイフン無し)" %>
     </div>
  </div>

  <div class="form-group">
     <%= f.label :email, "メールアドレス", class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",placeholder: "メール・アドレス" %>
     </div>
  </div>

  <div class="form-group">
     <%= f.label :password, "パスワード", class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" ,placeholder: "パスワード" %>
     </div>
  </div>

  <div class="form-group">
     <%= f.label :password_confirmation, "パスワード確認",class: "col-sm-3 control-label" %>
     <div class="col-sm-8">
     <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class: "form-control" ,placeholder: "パスワード(確認用)" %>
     </div>
  </div><br>


  <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "登録", class: "sign_up_btn" %>
     </div>
  </div>
</div>
<% end %>
